<ul>
  <% @bookmarks.each do |bookmark| %>
    <li> 
      <a href="<%=bookmark.url%>">
        <%=bookmark.title%>
      </a>
      <form action="/delete-bookmark/<%=bookmark.id%>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <button type="submit" id="delete_<%=bookmark.id%>" name="id" value="<%=bookmark.id%>">
          Delete
        </button>
      </form>
      <form action="/edit-bookmark" method="get">
        <button type="submit" id="update_<%=bookmark.id%>" name="id" value="<%=bookmark.id%>">
          Update
        </button>
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
        <input type="submit" value="Add Comment" />
      </form>
      <ul>
        <% bookmark.comments.each do |comment| %>
          <li><%= comment['text'] %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<form action="/add-bookmark" method="get">
  <input type="submit" value="Add Bookmark">
</form>
